
body {
  font-family: "Georgia", Times, serif;
  color: #777;
  background-image: url("photos/backgroundImage.png");
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Cardo', serif;
  background-size: 100%;
  

}
  
hr {
  height: 1px;
  color: gray;
  background-color: #777777;
  border: none;
  }




#navbar {
  
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  
 
  
}


#navbar a {
  float: right;
  display: block;
  color: #deeaee;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  width: 10%;
  margin-right: 15px;
  font-size: 24px;
}


.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}




.tag{
  display: inline-block;
  width: 40%;
}

#main{
   
  padding-top: 80px;
  padding:120px;
  border: 2px;
  border-color:black;
  align-content: center;  
  margin-bottom: 30px;
}




#name{
  float:left;
  color: #deeaee;
  margin-left: 50px;
  margin-top:15px;
  font-family: 'Arapey', serif;
  font-size: 30px;

}



p{
  padding-left:30px;
  padding-right:30px;
  
}

  
.aboutMe{
  
  color:black;
  background-color:#deeaee;
  font-size: 25px;
  float:right;
  width:65%;
  margin-top: 65px;
  opacity: 0.65;  
  
  
  

}


.myPhoto {
  float: left;
  width:29%;
 
  float: left;
  margin-top: 60px;
  opacity: 0.88;
}




.p-image{
  width:30%;
  height:30%;
  padding:15px;
  align-content: left;
  border-radius: 35px ;
  
}




#portfolio{
  color:black;
  background-color:#deeaee;
  font-size: 20px;
  opacity: 0.77;
  width:80%;
  
  padding:5px;
  margin: 0 auto;
  overflow: hidden;
  
  
}

h1, h2{
  text-align: center;
  color: black;
}



#contact{
  color:black;
  background-color: #deeaee;;
  font-size: 20px;
  opacity: 0.77;
  width:80%;
  align-content: center;
  padding: 20px;
  margin: 120px;
  overflow: hidden;
  


};



.clearfix::after {
  content: "";
  display: block;
  clear: both;
  overflow: auto;
}

